<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                学科统计系统
            </a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/home">学科统计</a></li>
                <li><a href="/print">打印</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li><a href="/logout" target="_self">退出</a></li>
            </ul>
        </div>

    </div>
</nav>