
.container > .row > .table tr.active th ,
.container > .row > .table tr.active td {
  background:grey;
}

.form-group {
  padding-bottom: 0px;
  margin: 0;
}

.btn, .input-group-btn .btn {
  margin: 10px 0px;
}

.container-top-fix {
  margin-top: 70px;
}

.table>thead>tr>th, .table>tbody>tr>td {
  text-align: center;
  vertical-align: middle;
}

/* http://stackoverflow.com/questions/12434790/table-heading-repeat-while-printing */
@media print
{
  thead {
    display: table-header-group;
  }

  * {
    font-size: 1em;
  }
}