
.container > .row > .table tr.active th ,
.container > .row > .table tr.active td {
  background:grey;
}

.form-group {
  padding-bottom: 0px;
  margin: 0;
}

.btn, .input-group-btn .btn {
  margin: 10px 0px;
}

.container-top-fix {
  margin-top: 70px;
}

.table>thead>tr>th, .table>tbody>tr>td {
  text-align: center;
  vertical-align: middle;
}

.panel.panel-info>.panel-bg-primary {
  background-color: #337ab7;
}

/* http://stackoverflow.com/questions/12434790/table-heading-repeat-while-printing */
/*
@media print
{
  thead {
    display: table-header-group;
  }

  * {
    font-size: 1em;
  }
}
*/
@media print {
    table { page-break-after:auto;}
    tr    { page-break-inside:avoid;}
    td    { page-break-inside:auto;}
    thead, tfoot {
        break-inside:avoid;
        display: table-header-group;
   }
}

@page {
            margin-top: 1cm;
            margin-right: 1cm;
            margin-bottom:1cm;
            margin-left: 1cm;';
            size:portrait;
            /*
            size:landscape;
            -webkit-transform: rotate(-90deg); -moz-transform:rotate(-90deg);
            filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
            */
}
