<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>学科统计</title>
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="angular/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script type="text/javascript" src="angular-smart-table/dist/smart-table.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container" ng-controller="tableCtrl">
    <h1>主要学科统计</h1>
    <p>请选中相应行后在右侧修改信息</p>
    <div class="row">
        <div class="col-md-8">
            <table st-table="displayedCollection" st-safe-src="rowCollection" class="table">
                <thead>
                <tr>
                    <th>
                        <input st-search="'id'" placeholder="通过工号搜索" class="input-sm form-control" type="search"/>
                    </th>
                </tr>
                <tr>
                    <th st-sort="id">工号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>专业技术职务</th>
                    <th>所在学院</th>
                    <th>主要学科</th>
                </tr>
                </thead>
                <tbody>
                <tr st-select-row="row" ng-repeat="row in rowCollection" ng-click="setSelected(row);" ng-class="{ 'bg-primary' : row.id === selected_row_id}">
                    <td>{{row.id}}</td>
                    <td>{{row.xm}}</td>
                    <td>{{row.xb}}</td>
                    <td>{{row.zyjszw}}</td>
                    <td>{{row.szxy}}</td>
                    <td>{{row.zyxk}}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="20" st-displayed-pages="5"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-md-4">
            <form ng-controller="formCtrl" class="form-horizontal">
                <div class="form-group">
                    <label for="id" class="col-sm-4 control-label">工号</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control disabled" id="id" name="id" placeholder="工号" ng-model="selectedRow.id" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="xm" class="col-sm-4 control-label">姓名</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="xm" name="xm" placeholder="姓名" ng-model="selectedRow.xm" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="xb" class="col-sm-4 control-label">性别</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="xb" name="xb" placeholder="性别" ng-model="selectedRow.xb" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="zyjszw" class="col-sm-4 control-label">专业技术职务</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="zyjszw" name="zyjszw" ng-model="selectedRow.zyjszw">
                            <option value="">-</option>
                            <option value="中职">中职</option>
                            <option value="副高级">副高级</option>
                            <option value="正高级">正高级</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="zgxw" class="col-sm-4 control-label">最高学位</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="zgxw" name="zgxw" ng-model="selectedRow.zgxw">
                            <option value="">-</option>
                            <option value="本科">本科</option>
                            <option value="硕士">硕士</option>
                            <option value="博士">博士</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="szxy" class="col-sm-4 control-label">所在学院</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="szxy" name="szxy" placeholder="所在学院" ng-model="selectedRow.szxy" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="xkml" class="col-sm-4 control-label">学科门类</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="xkml" name="xkml" ng-model="selected_xkml" ng-change="update_xkml()" >
                            <option ng-repeat="option in xkmls | orderBy:'mldm'" ng-value="option.mlmc">{{option.mlmc}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="zyxk" class="col-sm-4 control-label">主要学科</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="zyxk" name="zyxk" ng-model="selectedRow.zyxk" ng-change="update_yjxk()">
                            <option ng-repeat="option in yjxks | orderBy:'yjxkdm'" ng-value="option.yjxkmc">{{option.yjxkmc}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="zyxk_ds" class="col-sm-4 control-label">主要学科导师</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="zyxk_ds" name="zyxk_ds" ng-model="selectedRow.zyxk_ds">
                            <option value="">-</option>
                            <option value="硕士生导师">硕士生导师</option>
                            <option value="博士生导师">博士生导师</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dexk" class="col-sm-4 control-label">第二学科</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="dexk" name="dexk" ng-model="selectedRow.dexk">
                            <option ng-repeat="option in zys | orderBy:'zydm'" ng-value="option.zymc">{{option.zymc}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dexk_ds" class="col-sm-4 control-label">第二学科导师</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="dexk_ds" name="dexk_ds" ng-model="selectedRow.dexk_ds">
                            <option value="">-</option>
                            <option value="硕士生导师">硕士生导师</option>
                            <option value="博士生导师">博士生导师</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="sjhm" class="col-sm-4 control-label">手机号码</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control disabled" id="sjhm" name="sjhm" placeholder="手机号码" ng-model="selectedRow.sjhm">
                    </div>
                </div>
                <div class="form-group">
                    <label for="dzyx" class="col-sm-4 control-label">电子邮箱</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control disabled" id="dzyx" name="dzyx" placeholder="电子邮箱" ng-model="selectedRow.dzyx">
                    </div>
                </div>
                <div class="form-group">
                    <label for="bz" class="col-sm-4 control-label">备注</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control disabled" id="bz" name="bz" placeholder="备注" ng-model="selectedRow.bz">
                    </div>
                </div>
                <button class="btn btn-default" ng-click="update_xktj(selectedRow)">更新</button>
                <button class="btn btn-default">取消</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>